@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    /* primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */

    --Light-slate-blue: hsl(252, 100%, 67%); /*background*/
    --Light-royal-blue: hsl(241, 81%, 54%); /*background*/ 
    
    --Violet-blue: hsla(256, 72%, 46%, 1);  /*circle*/
    --Persian-blue: hsla(241, 72%, 46%, 0); /*circle*/
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --md: 18px
}
html{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--White);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    height: 500px;
    border-radius: 30px;
    background-color: var(--White);
    box-shadow: 5px 20px 20px 0 var(--Pale-blue);
}
.result{
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    border-radius: 30px;
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 25%, rgba(120,87,255,1) 120%);
}
.result h2:nth-child(1){
    color: var(--Light-lavender);
    font-weight: 500;
    display: grid;
    align-items: center;
    margin: 30px 35px 20px 35px;
}
.div-score{
    display: flex;
    justify-content: center;
}
.score{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(78,33,202);
    background: linear-gradient(180deg, rgba(78,33,202,1) 0%, rgba(36,33,202,0) 100%);
}
.score h1{
    color: var(--White);
    position: relative;
    bottom: 0px;
    font-size: 60px;
}
.score p{
    color: var(--Light-lavender);
    position: absolute;
    left: 39%;
    top: 55%;
}
.result h1:nth-child(3){
    color: var(--White);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
}
.result p:nth-child(4){
    color: var(--Light-lavender);
    padding: 0 50px 0 50px;
    margin-top: 0;
    margin-bottom: 30px;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 40px;
}
.summary h2{
    margin: 0;
    padding: 0 0 10px 0;
    color: var(--Dark-gray-blue);
}
.summary div{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}
.reaction{
    background-color: hsl(0, 100%, 98%);
    color: hsl(0, 100%, 67%);;
}
.memory{
    background-color: hsl(39, 100%, 96%);
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsl(166, 100%, 97%);
    color: hsl(166, 100%, 37%);
}
.visual{
    background-color: hsl(234, 85%, 96%);
    color: hsl(234, 85%, 45%);;
}
.summary div div{
    padding: 0;
}
.summary div div:nth-child(1) p{
    padding-left: 10px;
}
.summary div div:nth-child(2) p:nth-child(1){
    padding-right: 10px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}
.summary div div:nth-child(2) p:nth-child(2){
    color: hsla(224, 30%, 27%, 35%);
}
.primary-button{
    border-radius: 50px;
    border: 0;
    color: var(--White);
    height: 55px;
    margin-top: 20px;
    background-color: var(--Dark-gray-blue);
    font-size: 16px;
    font-weight: 700;
}
.primary-button:hover{
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 25%, rgba(120,87,255,1) 120%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px){
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: auto auto;    
        grid-template-columns: none;
    }
    .result{
        border-radius: 0 0 30px 30px;
    }
    .result h2:nth-child(1){
        color: var(--Light-lavender);
        font-weight: 500;
        display: grid;
        align-items: center;
        margin: 20px 35px 20px 35px;
        font-size: 20px;
    }
    .score{
        width: 150px;
        height: 150px;
    }
    .score h1{
        font-size: 50px;
        margin: 30px 0;
    }
    .score p{
        left: 33%;
        top: 55%;
    }
    .result h1:nth-child(3){
        margin-top: 15px;
        font-size: 25px;
    }
    .result p:nth-child(4){
        font-size: medium;
        margin-bottom: 30px;
    }
    .summary{
        padding: 20px 20px;
    }
    .summary h2{
        font-size: 20px;
        padding: 0 0 20px 0;
    }
    .summary > div{
        margin: 5px 0px;
    }
}